sudo: required

language: node_js

node_js:
    - "0.10"
    - "0.12"
    - "4"
    - "5"
    - "6"
    - "7"

before_install:
  - sudo apt-get -qq update
  - sudo add-apt-repository ppa:dhor/myway
  - sudo apt-get -qq update
  - sudo apt-get install graphicsmagick
  - nvm install 6
  - nvm use 6

install:
  - npm install

before_script:
  - nvm use $TRAVIS_NODE_VERSION
